.container {
    background: linear-gradient(black, rgb(105, 6, 97));
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
button {
    background: white;
    color: black;
    height: 40px;
    width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}
fieldset {
    border-radius: 5px;
    border-color: white;
}